<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">
	
	<property name="LOGS_HOME" value="/usr/local/src/tomcat9/logs/WEB_LOGS" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="LOG-FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/web.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/web.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP" />
		</rollingPolicy>
	</appender>
	
	<appender name="LOG-FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/web_error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/web_error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<logger name="com.celizion.app" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOG-FILE-AUDIT" />
	</logger>
	
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOG-FILE-ERROR" />
	</root>

</configuration>
