<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.celizion.app.mapper.security.AuthUserMapper">
	
	<resultMap id="resourceAuthMap" type="AppResourceAuth">
		<result column="RESOURCE_PATTERN" jdbcType="VARCHAR" property="resourcePattern" />
		<result column="RESOURCE_AUTHORITY" jdbcType="VARCHAR" property="resourceAuthority" />
	</resultMap>
	
	<select id="selectUserInfoById" parameterType="java.lang.String" resultType="appAuthUser">
		SELECT	USER_ID
				, USER_PW
				, USER_NAME
		FROM USERS
		WHERE USER_ID = #{userId, jdbcType=VARCHAR}
	</select>
	
	<select id="selectUserAuthById" parameterType="java.lang.String" resultType="appUserAuthority">
		SELECT	AUTHORITY
		FROM USER_AUTHORITIES
		WHERE USER_ID = #{userId, jdbcType=VARCHAR}
	</select>
	
	<select id="selectResourceAuth" resultMap="resourceAuthMap">
		SELECT	SR.RESOURCE_PATTERN
				, SRA.AUTHORITY RESOURCE_AUTHORITY
		FROM SECURED_RESOURCES SR
			 , SECURED_RESOURCES_AUTHORITIES SRA
		WHERE SR.RESOURCE_ID = SRA.RESOURCE_ID
		ORDER BY SR.SORT_ORDER
	</select>

</mapper>